body {
  margin: 0px;
}
.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cardHeader {
  margin: 0px;
}
.cardh2 {
  margin: 4px;
}
.cardItem {
  display: flex;
  margin: 8px;
  width: 240px;
  height: 340px;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardItem {
  border: 0.5px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  text-align: center;
  font-family: arial;
}
.cardImage {
  width: 120px;
  height: auto;
}
.card button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.freeDrugsBanner {
  margin-left: 65px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.sort {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  margin-bottom: 30px;
  padding-right: 50px;
}
.freeDrugs {
  display: flex;
  padding-left: 12px;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 18px;
}

.FreeOrder {
  margin-left: 8px;
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 18px;
  font-size: 8px;
}
nav {
  display: flex;
  width: 100%;
  background-color: #333;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
.price {
  margin: 4px;
}
